
.row{  
     
     flex-wrap: nowrap;
     overflow-x:auto; 
}
.card{
    width: 400px;
   // display: inline-block;
    margin:auto;
    margin-top: 1%;
    margin-right: 15px;
           
}
.botones{
    display: flex;
    justify-content: space-between;
}

h1{
    color: rgb(129, 20, 20);
}

.pointer {cursor: pointer;}
.more{
    text-align: left;
}
.heart{
    text-align: right;
}
.activated{
    color: red;
}




