#description{
    width: 70%;
    margin: auto;
    padding: 2%;
}
#features{
    text-align: center;
    color: rgb(129, 20, 20);
    margin: auto;
    width: 70%;
}
.line{
  height: 3px;
  background-color: rgb(129, 20, 20);
  margin: auto;
  width: 70%;
  margin-bottom: 1%;
}